In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

raw_data1 = {1 : [np.nan, 100.0, np.nan, 3.0, 3.0],
             2 : [2.0, 5.0, np.nan, 3.0, 4.0],
             3 : [np.nan, np.nan, np.nan, np.nan, 0.0],
             4 : [0, 1, 3, 1, 1]}

df1 = pd.DataFrame(raw_data1, columns= [1, 2, 3, 4])
df1

In [3]:
df1.dropna(thresh= 3)

       1    2    3  4
1  100.0  5.0  NaN  1
3    3.0  3.0  NaN  1
4    3.0  4.0  0.0  1

In [4]:
edges = pd.DataFrame({'source' : [0, 1, 2], 'target' : [2, 2, 3],
                      'weight' : [3, 4, 5], 'color' : ['red', 'blue', 'blue']})
edges

   source  target  weight color
0       0       2       3   red
1       1       2       4  blue
2       2       3       5  blue

In [10]:
pd.get_dummies(edges)

   source  target  weight  color_blue  color_red
0       0       2       3       False       True
1       1       2       4        True      False
2       2       3       5        True      False

In [7]:
pd.get_dummies(edges).iloc[:, 3:]

   color_blue  color_red
0       False       True
1        True      False
2        True      False

In [8]:
pd.get_dummies(edges["color"])

    blue    red
0  False   True
1   True  False
2   True  False

In [9]:
pd.get_dummies(edges[["color"]])

   color_blue  color_red
0       False       True
1        True      False
2        True      False

In [13]:
pd.get_dummies(edges["color"], prefix= "color")

   color_blue  color_red
0       False       True
1        True      False
2        True      False

In [23]:
raw_data = {'first_name' : ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
            'last_name' : ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
            'age' : [42, np.nan, 36, 24, 73],
            'sex' : ['m', np.nan, 'f', 'm', 'f'],
            'preTestScore' : [4, np.nan, np.nan, 2, 3],
            'postTestScore' : [25, np.nan, np.nan, 62, 70]}

df5 = pd.DataFrame(raw_data, columns= ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])
df5.isnull().sum()

first_name       1
last_name        1
age              1
sex              1
preTestScore     2
postTestScore    2
dtype: int64